<div>
    <h1>Has solicitado un cambio de contraseña</h1>
    <br>
    <p>Por favor ingresa al siguiente enlace: <a href="http://localhost:{{serverPort}}/api/session/resetPassword?token={{token}}">Link</a></p>
</div>
